# Server Configuration
HOST=0.0.0.0
PORT=9009
DEBUG=false
LOG_LEVEL=INFO

# Server Identity
SERVER_GUID=a1b4aea8-b031-4302-b602-670a990272cb
SERVER_VERSION=3.2.4
SERVER_PROTOCOL_VERSION=1.1

# License Configuration
LICENSE_VALID_DAYS=180
PROLONGATION_PERIOD=607875500
